/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin:1%;
	padding:1%;
	font-size:150%;
}

/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 2em; 
	font-weight: bold;
	color: navy;
	margin: 30px 0;
}

/*Add borders around the main components and some
space too*/
header, nav, main, h1{
	margin: 10px 0;
}


footer{
	background-color: lightblue;
	padding: 32px 8px;
	margin-top: 30px;
}


/*Change the styling for all of the list 
items in the nav section*/
nav li{
	background-color: lightblue;
	padding:10px;
	width:25%;
	border:1px solid black;
	display: inline-block;
	width: 20%;
	
}
a{
	text-decoration: none;
}

nav a:hover{
	color:#F7882F;
	text-decoration: underline;
}

.active{
	background: white;
    text-transform: uppercase;
	text-align: center;
}

/*Style the images*/
.act_images {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: baseline;
	text-align: center;
}
  
.horizontal_align {
	/* position: static; */
	/* float: left; */
	padding: 5px;
	text-align: left;
	/* padding-left:5px; 
	padding-right:5px;   */
	margin-left:5px; 
	margin-right:5px;
  }

img{
    border: 3px solid black;
    margin: 10px;
    display: inline;
	width: 300px;
}

img:hover{
    box-shadow: 10px 10px #376F70;
	border: 4px dashed;
}

figcaption {
	font-size: 10px;
	text-align: center;
}

  
/*Make the h2 heading match h1*/
h2{
	font-size: 2em; 
	font-weight: bold;
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
    padding: 10px;
}



/*Added this so the links stay the same color*/
a:visited{color:#0000FF}


