/*Add padding and margin to space out the page.
Make the font larger too.*/
*{
	font-family: 'Josefin Sans'; 
}
body{
	font-family: 'Josefin Sans'; 
	font-size:150%;
	background-color:lightgray;
}

.intro{
	background-image: url("../images/shanghai.jpg");
	background-color: #707070;
	/* Set a specific height */
	min-height: 500px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 100px; 
	font-weight: bold;
	color: navy;
	/* color:lightsalmon; */
	font-weight: bold;
	margin: 20px 0;
	padding: 50px;
}

/*Add borders around the main components and some
space too*/
header, nav, main, h1{
	margin: auto 0;
}


footer{
	font-family: 'Josefin Sans'; 
	background-color: lightblue;
	padding: 32px 8px;
	/* margin-top: 30px; */
	
}

footer p:after{
    content: ' \1F448';
}
nav{
	font-size: 1.5em;
	background-color: #ddd;
	padding: 25px 10px;;    
	text-align: left;   
}

nav ul{
	list-style-type: none;
}

nav li{
	display: inline;
	margin-right: 5%;
}


form {
	border: 100px solid lightsteelblue;
	background-color: lightsteelblue;
}

legend{ 
	font-size: 125%;
	font-style:italic;
	text-transform: uppercase;
	text-align: center;
}
  

label{
	display: inline-block;
	margin-right:10px;
	width:15%;
}
input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
span{
	margin-left:20%;
	/* font-family: italic; */
	font-weight: bold;
}
  
textarea{
	width: 100%;
	height: 35vh;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
  
  
input[type=checkbox]{
	  display:inline;
	  width:inherit;
}
  
input[type=submit] {
	background-color: #38803C;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}
  
input[type=submit]:hover {
	opacity: 0.8;
}
  
  

/*Change the styling for all of the list 
items in the nav section*/
/* nav li{
	background-color: lightblue;
	padding:10px;
	width:25%;
	border:1px solid black;
	display: inline-block;
	width: 20%;
	
} */
nav a{
	color: black;
	text-decoration: none;
}

.intro a{
	text-decoration: none;
}

.intro h1:hover{
	color:lightsalmon;
	font-weight: bold;
}

nav a:hover{
	color:lightsalmon;
	text-decoration: underline;
    text-decoration-style: wavy;
	font-weight: bold;
}

.active{
	font-weight: bold;
    text-transform: uppercase;
	text-align: center;
}

/*Style the images*/
.act_images {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: baseline;
	text-align: center;
	margin: 30px;
}

.act_images img{
	width: 400px;
}
  
.horizontal_align {
	/* position: static; */
	/* float: left; */
	padding: 5px;
	text-align: left;
	/* padding-left:5px; 
	padding-right:5px;   */
	margin-left:5px; 
	margin-right:5px;
  }

img{
    border: 3px solid black;
    display: inline;
	width: 100%;
}

img:hover{
    box-shadow: 10px 10px #376F70;
	border: 4px dashed;
}

figcaption {
	font-size: 1em;
	text-align: center;
}

  
/*Make the h2 heading match h1*/
h2{
	text-align: center;
	font-size: 2em; 
	font-weight: bold;
}

/*Improve the spacing for paragraphs AND headings*/
p, h2 {
    padding: 30px;
}


/*Added this so the links stay the same color*/
/* a:visited{color:#0000FF} */


.container{
	/* Requirement 5 code here*/
	background-image: url('../images/concrete_seamless.png');
	display: grid;
	max-height: 3000px;
	grid-template-columns: 1fr 4fr 1fr;
	row-gap: 30px;
	align-items: center;
	justify-items: center;
}

.home{
	font-size: 1.5em;
	grid-column-start: 2;
	overflow: hidden;
	padding: 10px;
	margin: 30px 0;
	border: 2px solid black;
	background-color: rgba(255, 255, 255, .2);
	align-self: center;
	max-height: 25vh;
	overflow: scroll;
}


.famous_image, .chinese_image, .family_image, .foreign_image{
	grid-column-start: 2;
}

.famous_image{
	grid-row-start: 2;
}

.family_image{
	grid-row-start: 3;
}

.chinese_image{
	grid-row-start: 4;
}

.foreign_image{
	grid-row-start: 5;
}

.famous, .chinese, .family, .foreign{
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 4.5em;
	z-index: 5;
	grid-column-start: 2;
}

.famous{
	grid-row-start: 2;
}

.family{
	grid-row-start: 3;
}

.chinese{
	grid-row-start: 4;
}

.foreign{
	grid-row-start: 5;
}

h1{
    animation: title_grow 5s 1;
}


input{
	display: block;
}
form:focus{
	border:5px solid blue;
}

@keyframes title_grow {
    from {opacity: 0;}
    to {opacity: 1;}
}


@media screen and (min-width: 1000px){
	.container{
		align-items: center;
		column-gap: 30px;
		max-height: 2500px;
		grid-template-columns: 1fr 4fr 4fr 1fr;
	}
	.home{
		grid-column: 2 / span 2;
		grid-row-start: 1;
	}
	.famous_image{
		grid-column-start: 2;
		grid-row-start: 2;
	}
	
	.family_image{
		grid-column-start: 3;
		grid-row-start: 2;
	}
	
	.chinese_image{
		grid-column-start: 2;
		grid-row-start: 3;
	}
	
	.foreign_image{
		grid-column-start: 3;
		grid-row-start: 3;
	}

	.famous{
		grid-column-start: 2;
		grid-row-start: 2;
	}
	
	.family{
		grid-column-start: 3;
		grid-row-start: 2;
	}
	
	.chinese{
		grid-column-start: 2;
		grid-row-start: 3;
	}
	
	.foreign{
		grid-column-start: 3;
		grid-row-start: 3;
	}
	
}


@media screen and (prefers-reduced-motion: reduce){
    /*Requirement 15*/
    #logo{
      animation: none;
    }
}